_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
.vscode
/jekyll/.vscode
/jekyll/_site
/jekyll/.sass-cache
/jekyll/.jekyll-cache
/jekyll/.jekyll-metadata
/jekyll/vendor
/jekyll/Gemfile.lock
