---
title: AFKology | The most precious moments in life happen offline.
type: homepage
layout: home.en
sitemap: true
pagination: 
  enabled: true
  category: EN
description: Travel information. What to visit, where to eat, how to spend your free time and holidays.
---
<!-- {% if paginator.next_page == 2 %}
<div class="row mt-4 mb-4">
    <div class="col-lg-2 text-center mb-2">
        <a href="/romania/"><img class="img-fluid border border-3 rounded-circle" src="/assets/images/helper/category-placeholder.webp"  alt="Romania Category EN"></a>
        Romania
    </div>
    <div class="col-lg-2 text-center mb-2">
        <a href="/romania/"><img class="img-fluid border border-3 rounded-circle" src="/assets/images/helper/category-placeholder.webp"  alt="Romania Category EN"></a>
    </div>
    <div class="col-lg-2 text-center mb-2">
        <a href="/romania/"><img class="img-fluid border border-3 rounded-circle" src="/assets/images/helper/category-placeholder.webp"  alt="Romania Category EN"></a>
    </div>
    <div class="col-lg-2 text-center mb-2">
        <a href="/romania/"><img class="img-fluid border border-3 rounded-circle" src="/assets/images/helper/category-placeholder.webp"  alt="Romania Category EN"></a>
    </div>
    <div class="col-lg-2 text-center mb-2">
        <a href="/romania/"><img class="img-fluid border border-3 rounded-circle" src="/assets/images/helper/category-placeholder.webp"  alt="Romania Category EN"></a>
    </div>
    <div class="col-lg-2 text-center mb-2">
        <a href="/romania/"><img class="img-fluid border border-3 rounded-circle" src="/assets/images/helper/category-placeholder.webp"  alt="Romania Category EN"></a>
    </div>
</div>
{% endif %} -->
<div class="row mt-2">
    {% for post in paginator.posts %}
        {% if forloop.index == 1 %}
        {% if paginator.next_page == 2 %}
        {% continue %}
        {% endif %}
        {% endif %}
        {% if forloop.index == 2 %}
        {% if paginator.next_page == 2 %}
        {% continue %}
        {% endif %}
        {% endif %}
        {% if forloop.index == 3 %}
        {% if paginator.next_page == 2 %}
        {% continue %}
        {% endif %}
        {% endif %}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-2 mt-2">
        <div class="card">
            <a class="card-text" href="{{ post.url }}"><img src="{{ post.featured-image-home }}"  class="card-img-top" alt="{{ post.title }}" width="600" height="100%"></a>
            <div class="card-body">
                <div class="card-text-container"><a href="{{ post.url }}" class="card-text"><h2 class="card-text">{{ post.front_page_title }}</h2></a></div>
                {% if site.show-posts-date %}<div class="text-center fw-lighter lh-lg text-muted fs-4" style="font-family: 'Italianno', cursive;">{{ post.published }}</div>{% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>








