</div>
</body>
</main>
<footer class="footer mt-auto">
    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col">
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}">
                    <button class="btn btn-outline-light btn-sm text-uppercase fw-normal lh-lg text-decoration-none" style="color: #000000">
                        <img src = "/assets/images/helper/arrow-left-circle.svg" style="padding-bottom: 3px; width:16px; height: 16px;" alt="Previous page"/> Previous page
                    </button>
                </a>
                {% endif %}
            </div>
            <div class="col text-end">
                {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}">
                    <button class="btn btn-outline-light btn-sm text-uppercase fw-normal lh-lg text-decoration-none" style="color: #000000">
                        Next page <img src = "/assets/images/helper/arrow-right-circle.svg" style="padding-bottom: 3px; width:16px; height: 16px;" alt="Next page"/>
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div style="background-color: #{{ site.footer-color }};">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="footer-column col-sm-12 col-md-12 col-lg-4">
                    <div class="text-line-container fw-normal text-muted">
                        <span
                            style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">About</span>
                    </div>
                    <div class="text-center fw-lighter">
                        The most precious moments in life happen offline. AFKology is a remembrance of that.
                    </div>
                </div>
                <div class="footer-column col-sm-12 col-md-12 col-lg-4">
                    <div class="text-line-container fw-normal text-muted">
                        <span
                            style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">Social</span>
                    </div>
                    <div class="container">
                        <div class="row mb-3">
                            {% if site.youtube %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.youtube }}" target="_blank" rel="nofollow"><img src = "/assets/images/helper/youtube-large.svg" style="width:24px; height: 24px;" alt="youtube"/></a>
                            </div>
                            {% endif %}
                            {% if site.instagram %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.instagram }}" target="_blank" rel="nofollow"><img src = "/assets/images/helper/instagram-large.svg" style="width:24px; height: 24px;" alt="instagram"/></a>
                            </div>
                            {% endif %}
                            {% if site.facebook %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.facebook }}" target="_blank" rel="nofollow"><img src = "/assets/images/helper/facebook-large.svg" style="width:24px; height: 24px;" alt="facebook"/></a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if site.medium %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.medium }}" target="_blank" rel="nofollow"><img src = "/assets/images/helper/medium-large.svg" style="width:24px; height: 24px;" alt="medium"/></a>
                            </div>
                            {% endif %}
                            {% if site.tiktok %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.tiktok }}" target="_blank" rel="nofollow"><img src = "/assets/images/helper/tiktok-large.svg" style="width:24px; height: 24px;" alt="tiktok"/></a>
                            </div>
                            {% endif %}
                            {% if site.pinterest %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.pinterest }}" target="_blank" rel="nofollow"><img src = "/assets/images/helper/pinterest-large.svg" style="width:24px; height: 24px;" alt="pinterest"/></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="footer-column col-sm-12 col-md-12 col-lg-4">
                    <div class="text-line-container fw-normal text-muted">
                        <span
                            style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">Search</span>
                    </div>
                    <div>
                        <!-- {% include search-lunr.html %} -->
                        <div class="gcse-search"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container mb-3">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                <div class="text-line-container fw-normal text-muted">
                    <span
                        style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">Instagram</span>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col">
                    <figure data-behold-id="4XBN9Jto1B0Z9kLG8KDJ"></figure><script src="https://w.behold.so/widget.js" type="module"></script>
                </div>
            </div> -->
        <!-- </div> -->
        <div style="background-color: #f3f3f3;">
            <div class="container">
                <div class="row">
                    <div class="col-7 fw-normal lh-lg text-decoration-none">
                        <small>© 2023 AFKology | <a href="/privacy-policy/" class="text-decoration-none" style="color: #000000;">Privacy Policy</a></small>
                    </div>
                    <div class="col-5 text-end fw-normal lh-lg text-decoration-none">
                        {% if site.show-theme-watermark %}<small><a class="text-decoration-none" style="color: #000000;" href="http://shop.zeespire.com">ZeeSpire One</a></small>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/assets/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% if page.type == 'post' %}
<script src="/assets/js/fslightbox.js"></script>
{% endif %}
<script async src="https://cse.google.com/cse.js?cx=3643681c5322a4ba7"></script>
</html>