</div>
</body>
</main>
<footer class="footer mt-auto">
    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col">
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" style="color: #000000" class="text-uppercase fw-normal lh-lg text-decoration-none">
                    <img src = "/assets/images/helper/arrow-left-circle.svg" style="padding-bottom: 3px;" alt="Pagina anterioara"/> Pagina anterioara
                </a>
                {% endif %}
            </div>
            <div class="col text-end">
                {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" style="color: #000000" class="text-uppercase fw-normal lh-lg text-decoration-none">Pagina urmatoare
                    <img src = "/assets/images/helper/arrow-right-circle.svg" style="padding-bottom: 3px;" alt="Urmatoarea pagina"/>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div style="background-color: #{{ site.footer-color }};">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="footer-column col-sm-12 col-md-12 col-lg-4">
                    <div class="text-line-container fw-normal text-muted">
                        <span
                            style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">Despre noi</span>
                    </div>
                    <div class="text-center fw-lighter">
                        Cele mai frumoase momente din viata se intampla offline. AFKology este o amintire a acestui lucru.
                    </div>
                </div>
                <div class="footer-column col-sm-12 col-md-12 col-lg-4">
                    <div class="text-line-container fw-normal text-muted">
                        <span
                            style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">Social</span>
                    </div>
                    <div class="container">
                        <div class="row mb-3">
                            {% if site.youtube %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.youtube }}" target="_blank"><img src = "/assets/images/helper/youtube-large.svg" alt="youtube"/></a>
                            </div>
                            {% endif %}
                            {% if site.instagram %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.instagram }}" target="_blank"><img src = "/assets/images/helper/instagram-large.svg" alt="instagram"/></a>
                            </div>
                            {% endif %}
                            {% if site.facebook %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.facebook }}" target="_blank"><img src = "/assets/images/helper/facebook-large.svg" alt="facebook"/></a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if site.medium %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.medium }}" target="_blank"><img src = "/assets/images/helper/medium-large.svg" alt="medium"/></a>
                            </div>
                            {% endif %}
                            {% if site.tiktok %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.tiktok }}" target="_blank"><img src = "/assets/images/helper/tiktok-large.svg" alt="tiktok"/></a>
                            </div>
                            {% endif %}
                            {% if site.pinterest %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.pinterest }}" target="_blank"><img src = "/assets/images/helper/pinterest-large.svg" alt="pinterest"/></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="footer-column col-sm-12 col-md-12 col-lg-4">
                    <div class="text-line-container fw-normal text-muted">
                        <span
                            style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">Cautare</span>
                    </div>
                    <div>
                        <!-- {% include search-lunr.html %} -->
                        <div class="gcse-search"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-3">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                <div class="text-line-container fw-normal text-muted">
                    <span
                        style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">Instagram</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <figure data-behold-id="4XBN9Jto1B0Z9kLG8KDJ"></figure><script src="https://w.behold.so/widget.js" type="module"></script>
                </div>
            </div>
        </div>
        <div style="background-color: #f3f3f3;">
            <div class="container">
                <div class="row">
                    <div class="col-7 fw-normal lh-lg text-decoration-none">
                        <small>© 2023 AFKology | <a href="/ro/politica-de-confidentialitate/" class="text-decoration-none" style="color: #000000;">Politica de confidentialitate</a></small>
                    </div>
                    <div class="col-5 text-end fw-normal lh-lg text-decoration-none">
                        {% if site.show-theme-watermark %}<small><a class="text-decoration-none" href="http://shop.zeespire.com" style="color: #000000;">ZeeSpire One</a></small>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% if page.type == 'post' %}
<script src="/assets/js/fslightbox.js"></script>
{% if site.enable-pinterest-on-image-hover %}
<script async defer data-pin-hover="true" data-pin-lang="en" src="//assets.pinterest.com/js/pinit.js"></script>
{% endif %}
{% endif %}
<script async src="https://cse.google.com/cse.js?cx=3643681c5322a4ba7"></script>
</html>