</div>
</body>
</main>
<footer class="footer mt-auto">
    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col">
                {% if paginator.previous_page %}
                <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="text-uppercase fw-normal lh-lg text-muted text-decoration-none"><i class="bi bi-arrow-left-circle"></i>Older posts</a>
                {% endif %}
            </div>
            <div class="col text-end">
                {% if paginator.next_page %}
                <a href="{{ site.url }}{{ paginator.next_page_path }}" class="text-uppercase fw-normal lh-lg text-muted text-decoration-none">Newer posts<i class="bi bi-arrow-right-circle"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <a href="https://www.instagram.com/afkology/" class="text-decoration-none text-center mt-4" target="_blank">Follow us on <img style="width: 30px;" src="https://res.cloudinary.com/afkology/image/upload/w_30,c_scale,f_auto/v1656413415/assets/instafooter/instagram-Logo-PNG-Transparent-Background-download-300x300_dqoul8.png"></a>
        </div>
    </div>
    
    <div class="row" style="margin-left: 0; --bs-gutter-x:0rem">
        <div class="col-2 mt-2">
            <a href="https://www.instagram.com/afkology/" target="_blank"><img src="https://res.cloudinary.com/afkology/image/upload/w_700,c_scale,f_auto/v1656417380/assets/instafooter/284812455_532387948468597_2497899269477368617_n_gnmuwq.webp"  class="img-insta-footer" alt="Instagram 001"></a>
        </div>
        <div class="col-2 mt-2">
            <a href="https://www.instagram.com/afkology/" target="_blank"><img src="https://res.cloudinary.com/afkology/image/upload/w_700,c_scale,f_auto//v1656411086/assets/instafooter/286940343_430271422241721_7658182178758798951_n_f4ygp2.webp"  class="img-insta-footer" alt="Instagram 002"></a>
        </div>
        <div class="col-2 mt-2">
            <a href="https://www.instagram.com/afkology/" target="_blank"><img src="https://res.cloudinary.com/afkology/image/upload/w_700,c_scale,f_auto/v1656417380/assets/instafooter/286941018_612991319719255_5391347569608252040_n_ylm7ct.webp"  class="img-insta-footer" alt="Instagram 003"></a>
        </div>
        <div class="col-2 mt-2">
            <a href="https://www.instagram.com/afkology/" target="_blank"><img src="https://res.cloudinary.com/afkology/image/upload/w_700,c_scale,f_auto/v1656417380/assets/instafooter/279781559_564974211706573_6806492280897501679_n_enigeq.webp"  class="img-insta-footer" alt="Instagram 004"></a>
        </div>
        <div class="col-2 mt-2">
            <a href="https://www.instagram.com/afkology/" target="_blank"><img src="https://res.cloudinary.com/afkology/image/upload/w_700,c_scale,f_auto/v1656417380/assets/instafooter/288847724_720822935920879_7274787010455233338_n_pcurc8.webp"  class="img-insta-footer" alt="Instagram 005"></a>
        </div>
        <div class="col-2 mt-2">
            <a href="https://www.instagram.com/afkology/" target="_blank"><img src="https://res.cloudinary.com/afkology/image/upload/w_700,c_scale,f_auto/v1656410165/assets/instafooter/285048620_1358573724639336_5460701373016138489_n_kponz7.webp"  class="img-insta-footer" alt="Instagram 006"></a>
        </div>
    </div>
    <div style="background-color: #{{ site.footer-color }};">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="footer-column col-sm-12 col-md-12 col-lg-4">
                    <div class="text-line-container fw-normal text-muted">
                        <span
                            style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">About</span>
                    </div>
                    <div class="text-center fw-lighter">
                        The most precious moments in life happen offline. AFKology is a remembrance of that.
                    </div>
                </div>
                <div class="footer-column col-sm-12 col-md-12 col-lg-4">
                    <div class="text-line-container fw-normal text-muted">
                        <span
                            style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">Social</span>
                    </div>
                    <div class="container">
                        <div class="row mb-3">
                            {% if site.youtube %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.youtube }}" target="_blank">
                                    <img src="https://res.cloudinary.com/afkology/image/upload/w_25,h_25,c_scale,f_auto/v1641378544/assets/css/icons/youtube_llbx9o.svg" style="opacity:0.5; width:25px; height:25px;"
                                    alt="youtube"></a>
                            </div>
                            {% endif %}
                            {% if site.instagram %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.instagram }}" target="_blank">
                                    <img src="https://res.cloudinary.com/afkology/image/upload/w_25,h_25,c_scale,f_auto/v1641378544/assets/css/icons/instagram_fjgfd0.svg" style="opacity:0.5; width:25px; height:25px;"
                                        alt="instagram">
                                </a>
                            </div>
                            {% endif %}
                            {% if site.facebook %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.facebook }}" target="_blank">  <img src="https://res.cloudinary.com/afkology/image/upload/w_25,h_25,c_scale,f_auto/v1641378544/assets/css/icons/facebook_hzc1xc.svg" style="opacity:0.5; width:25px; height:25px;"
                                    alt="facebook"></a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if site.tiktok %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.tiktok }}" target="_blank"> <img src="https://res.cloudinary.com/afkology/image/upload/w_25,h_25,c_scale,f_auto/v1641378544/assets/css/icons/tiktok_nbdo9t.svg" style="opacity:0.5; width:25px; height:25px;"
                                    alt="tiktok"></a>
                            </div>
                            {% endif %}
                            {% if site.medium %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.medium }}" target="_blank"> <img src="https://res.cloudinary.com/afkology/image/upload/w_25,h_25,c_scale,f_auto/v1641378544/assets/css/icons/medium_chfxfe.svg"  style="opacity:0.5; width:25px; height:25px;"
                                    alt="medium"></a>
                            </div>
                            {% endif %}
                            {% if site.pinterest %}
                            <div class="col text-center">
                                <a class="text-secondary" href="{{ site.pinterest }}" target="_blank"> <img src="https://res.cloudinary.com/afkology/image/upload/w_25,h_25,c_scale,f_auto/v1641378544/assets/css/icons/pinterest_tbue3b.svg" style="opacity:0.5; width:25px; height:25px;"
                                    alt="pinterest"></a>
                            </div>
                            {% endif %}
                            
                            <!-- <div class="text-line-container fw-normal text-muted pt-4">
                                <span style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">Subscribe</span>
                            </div>
                            <form action="https://afkology.us20.list-manage.com/subscribe/post?u=a5f5fcedb501461da7bb19809&amp;id=b246a29c20"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="row mb-1">
                                <div class="col-sm-12">
                                    <input
                                    type="email" class="form-control required email"
                                    value=""
                                    placeholder="Email"
                                    name="EMAIL"
                                    id="mce-EMAIL"
                                />
                                </div>
                            </div>
                            
                            <div>
                                <div id="mce-responses" class="clear foot">
                                <div
                                    class="response"
                                    id="mce-error-response"
                                    style="display: none"
                                ></div>
                                <div
                                    class="response"
                                    id="mce-success-response"
                                    style="display: none"
                                ></div>
                                </div>
                                <div style="position: absolute; left: -5000px" aria-hidden="true">
                                <input
                                    type="text"
                                    name="b_a5f5fcedb501461da7bb19809_b246a29c20"
                                    tabindex="-1"
                                    value=""
                                />
                                </div>
                                <div class="optionalParent">
                                    <div class="d-grid">
                                    <input
                                    type="submit"
                                    value="Subscribe"
                                    name="subscribe"
                                    id="mc-embedded-subscribe"
                                    class="btn btn-sm btn-light"
                                    />
                                </div>
                                </div>
                            </div>
                            </form> -->
                        </div>
                    </div>
                </div>
                <div class="footer-column col-sm-12 col-md-12 col-lg-4">
                    <div class="text-line-container fw-normal text-muted">
                        <span
                            style="font-family: 'Italianno', cursive; background:#{{ site.footer-color }}; padding:0 10px; ">Search</span>
                    </div>
                    <div>
                        {% include search-lunr.html %}
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #000000;">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-light fw-normal lh-lg text-muted text-decoration-none">
                        <small>© 2021 AFKology | <a href="{{ site.url }}/privacy-policy/" class="text-decoration-none text-muted">Privacy Policy</a></small>
                    </div>
                    <div class="col-6 text-end fw-normal lh-lg text-muted text-decoration-none">
                        {% if site.show-theme-watermark %}<small>Made with <a class="text-decoration-none text-muted" href="http://shop.zeespire.com">ZeeSpire One</a></small>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/assets/js/bootstrap.min.js" crossorigin="anonymous"></script>
{% if page.type == 'post' %}
<script src="https://res.cloudinary.com/afkology/raw/upload/v1641336955/assets/js/fslightbox_v237r5.js"></script>
{% if site.enable-pinterest-on-image-hover %}
<script async defer data-pin-hover="true" data-pin-lang="en" src="//assets.pinterest.com/js/pinit.js"></script>
{% endif %}
{% endif %}
</html>