<div class="row">
    <div class="col">
        {% if paginator.previous_page %}
        <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="text-uppercase fw-normal lh-lg text-muted text-decoration-none">
            <i class="bi bi-arrow-left-circle"></i>
            Older posts</a>
        {% endif %}
    </div>

    <div class="col text-end">
        {% if paginator.next_page %}
        <a href="{{ site.url }}{{ paginator.next_page_path }}" class="text-uppercase fw-normal lh-lg text-muted text-decoration-none">
            Newer posts
            <i class="bi bi-arrow-right-circle"></i></a>
        {% endif %}
    </div>
</div>