{% if tall == "true" %}

<a href="/{{ path }}" data-fslightbox="gallery">
<picture>
    <img src="/{{ resized[0].path }}" loading="lazy" class="img-article-3pelinie9pe16" alt="{{ alt }}"/>
</picture>
</a>

{% elsif square == "true" %}

<a href="/{{ path }}" data-fslightbox="gallery">
    <picture>
        <source srcset="/{{ resized[0].path }}" media="(min-width: 992px)" width="600px" height="100%">
        <img src="/{{ resized[0].path }}" class="post-gallery-image img-thumbnail"  alt="{{ alt }}" loading="lazy" width="690px" height="100%" />
    </picture>
</a>

{% elsif 3pelinie1pe1 == "true" %}

<div class="col-sm-12 text-center mb-3 mt-3">
    <a href="/{{ path }}" data-fslightbox="gallery">
    <picture>
        {% for i in resized %}
            <source srcset="/{{ i.path }}" media="(max-width: {{ i.width }}px)" >
        {% endfor %}
        
        {% if resized[2].path %}
        <img src="/{{ resized[2].path }}" loading="lazy" class="img-article-3pelinie1pe1" alt="{{ alt }}" />
        {% else %}
        <img src="/{{ path }}" loading="lazy" class="img-article-3pelinie1pe1" alt="{{ alt }}" />
        {% endif %}

    </picture>
    </a>
</div>

{% elsif 3pelinie1pe1cover == "true" %}

<div class="col-sm-12 text-center mb-3 mt-3">
    <a href="/{{ path }}" data-fslightbox="gallery">
    <picture>
        {% for i in resized %}
            <source srcset="/{{ i.path }}" media="(max-width: {{ i.width }}px)" >
        {% endfor %}
        
        {% if resized[2].path %}
        <img src="/{{ resized[2].path }}" loading="lazy" class="img-article-3pelinie1pe1cover" alt="{{ alt }}" />
        {% else %}
        <img src="/{{ path }}" loading="lazy" class="img-article-3pelinie1pe1cover" alt="{{ alt }}" />
        {% endif %}

    </picture>
    </a>
</div>

{% elsif 3pelinie16pe9 == "true" %}

<div class="col-sm-12 text-center mb-3 mt-3">
    <a href="/{{ path }}" data-fslightbox="gallery">
    <picture>
        {% for i in resized %}
            <source srcset="/{{ i.path }}" media="(max-width: {{ i.width }}px)" >
        {% endfor %}
        
        {% if resized[2].path %}
        <img src="/{{ resized[2].path }}" loading="lazy" class="img-article-3pelinie16pe9" alt="{{ alt }}" />
        {% else %}
        <img src="/{{ path }}" loading="lazy" class="img-article-3pelinie16pe9" alt="{{ alt }}" />
        {% endif %}

    </picture>
    </a>
</div>

{% elsif cincipelinie == "true" %}

<div class="col-sm-12 text-center mb-3 mt-3">
    <a href="/{{ path }}" data-fslightbox="gallery">
    <picture>
        {% for i in resized %}
            <source srcset="/{{ i.path }}" media="(max-width: {{ i.width }}px)" >
        {% endfor %}
        
        {% if resized[2].path %}
        <img src="/{{ resized[2].path }}" loading="lazy" class="img-article-5pelinie" alt="{{ alt }}" />
        {% else %}
        <img src="/{{ path }}" loading="lazy" class="img-article-5pelinie" alt="{{ alt }}" />
        {% endif %}

    </picture>
    </a>
</div>

{% elsif patrupetrei == "true" %}

<div class="col-sm-12 text-center mb-3 mt-3">
    <a href="/{{ path }}" data-fslightbox="gallery">
    <picture>
        {% for i in resized %}
            <source srcset="/{{ i.path }}" media="(max-width: {{ i.width }}px)" >
        {% endfor %}
        
        {% if resized[2].path %}
        <img src="/{{ resized[2].path }}" loading="lazy" class="img-article-43" alt="{{ alt }}" />
        {% else %}
        <img src="/{{ path }}" loading="lazy" class="img-article-43" alt="{{ alt }}" />
        {% endif %}

    </picture>
    </a>
</div>

{% elsif 2pelinie9pe16 == "true" %}

<div class="col-sm-12 text-center mb-3 mt-3">
    <a href="/{{ path }}" data-fslightbox="gallery">
    <picture>
        {% for i in resized %}
            <source srcset="/{{ i.path }}" media="(max-width: {{ i.width }}px)" >
        {% endfor %}
        
        {% if resized[2].path %}
        <img src="/{{ resized[2].path }}" loading="lazy" class="img-article-2pelinie9pe16" alt="{{ alt }}" />
        {% else %}
        <img src="/{{ path }}" loading="lazy" class="img-article-2pelinie9pe16" alt="{{ alt }}" />
        {% endif %}

    </picture>
    </a>
</div>

{% elsif 2pelinie4pe5 == "true" %}

<div class="col-sm-12 text-center mb-3 mt-3">
    <a href="/{{ path }}" data-fslightbox="gallery">
    <picture>
        {% for i in resized %}
            <source srcset="/{{ i.path }}" media="(max-width: {{ i.width }}px)" >
        {% endfor %}
        
        {% if resized[2].path %}
        <img src="/{{ resized[2].path }}" loading="lazy" class="img-article-2pelinie4pe5" alt="{{ alt }}" />
        {% else %}
        <img src="/{{ path }}" loading="lazy" class="img-article-2pelinie4pe5" alt="{{ alt }}" />
        {% endif %}

    </picture>
    </a>
</div>

{% elsif fluid == "true" %}

<div class="col-sm-12 text-center mb-3 mt-3">
    <a href="/{{ path }}" data-fslightbox="gallery">
    <picture>
        {% for i in resized %}
            <source srcset="/{{ i.path }}" media="(max-width: {{ i.width }}px)" >
        {% endfor %}
        
        {% if resized[2].path %}
        <img src="/{{ resized[2].path }}" style=" width: 100%; height: auto; aspect-ratio: {{ratio}};" loading="lazy" alt="{{ alt }}"  />
        {% else %}
        <img src="/{{ path }}" loading="lazy" style="width: 100%; height: auto; aspect-ratio: {{ratio}};"  alt="{{ alt }}" />
        {% endif %}
        
    </picture>
    </a>
</div>

{% else %}

<div class="col-sm-12 text-center mb-3 mt-3">
    <a href="/{{ path }}" data-fslightbox="gallery">
    <picture>
        {% for i in resized %}
            <source srcset="/{{ i.path }}" media="(max-width: {{ i.width }}px)" >
        {% endfor %}
        
        {% if resized[2].path %}
        <img src="/{{ resized[2].path }}" loading="lazy" class="img-article-169" alt="{{ alt }}" />
        {% else %}
        <img src="/{{ path }}" loading="lazy" class="img-article-169" alt="{{ alt }}" />
        {% endif %}

    </picture>
    </a>
</div>

{% endif %}



