.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #000
}

.bg-light {
    background-color: #fff !important
}

.post-title {
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.page-title {
    font-size: 2rem !important
}

.card,
.img-thumbnail {
    border: 0
}

.img-thumbnail {
    padding: 0;
}

.card-text {
    color: #000 !important;
    text-decoration: none !important;
    font-size: 1.25rem !important
}

.h2,
h2 {
    font-size: 1.5rem !important
}

.h3,
h3 {
    font-size: 1.1rem !important
}

.card-text-container {
    height: 60px
}

@media (min-width:1400px) {
    .container {
        max-width: 1140px
    }
}

.img-article-169 {
    height: 627px;
    width: 1116px;
    padding: 0;
}

.img-article-43 {
    height: 837px;
    width: 1116px;
    padding: 0;
}

.img-article-5pelinie {
    height: 204px;
    width: 204px;
    padding: 0;
}

.img-article-3pelinie16pe9 {
    height: 200px;
    width: 355px;
    padding: 0;
}

.img-article-3pelinie9pe16 {
    height: 632px;
    width: 356px;
    padding: 0;
}

.img-article-2pelinie4pe5 {
    height: 819px;
    width: 546px;
    padding: 0;
}

.img-article-2pelinie9pe16 {
    height: 971px;
    width: 546px;
    padding: 0;
}

.img-article-3pelinie1pe1 {
    height: 360px;
    width: 360px;
    padding: 0;
}

.img-article-3pelinie1pe1cover {
    height: 360px;
    width: 360px;
    padding: 0;
    object-fit: cover;
}

@media (max-width: 1200px) { 
    .img-article-43 {
        height: 703px;
        width: 936px;
        padding: 0;
    }

    .img-article-169 {
        height: 526.5px;
        width: 936px;
        padding: 0;
    }

    .img-article-5pelinie {
        height: 168px;
        width: 168px;
        padding: 0;
    }

    .img-article-3pelinie16pe9 {
        height: 166.5px;
        width: 269px;
        padding: 0;
    }

    .img-article-3pelinie9pe16 {
        height: 525.89px;
        width: 296px;
        padding: 0;
    }

    .img-article-2pelinie4pe5 {
        height: 684px;
        width: 456px;
        padding: 0;
    }

    .img-article-2pelinie9pe16 {
        height: 811px;
        width: 456px;
        padding: 0;
    }

    .img-article-3pelinie1pe1 {
        height: 296px;
        width: 296px;
        padding: 0;
    }

    .img-article-3pelinie1pe1cover {
        height: 296px;
        width: 296px;
        padding: 0;
        object-fit: cover;
    }
}

@media (max-width: 992px) { 
    .img-article-43 {
        height: 522px;
        width: 696px;
        padding: 0;
    }

    .img-article-169 {
        height: 391.5px;
        width: 696px;
        padding: 0;
    }

    .img-article-5pelinie {
        height: 120px;
        width: 120px;
        padding: 0;
    }

    .img-article-3pelinie16pe9 {
        height: 121.5px;
        width: 216px;
        padding: 0;
    }

    .img-article-3pelinie9pe16 {
        height: 383.75px;
        width: 216px;
        padding: 0;
    }

    .img-article-2pelinie4pe5 {
        height: 504px;
        width: 336px;
        padding: 0;
    }

    .img-article-2pelinie9pe16 {
        height: 597.5px;
        width: 336px;
        padding: 0;
    }

    .img-article-3pelinie1pe1 {
        height: 216px;
        width: 216px;
        padding: 0;
    }

    .img-article-3pelinie1pe1cover {
        height: 216px;
        width: 216px;
        padding: 0;
        object-fit: cover;
    }
}

@media (max-width: 768px) { 
    .img-article-43 {
        height: 387px;
        width: 516px;
        padding: 0;
    }

    .img-article-169 {
        height: 290px;
        width: 516px;
        padding: 0;
    }

    .img-article-5pelinie {
        height: 516px;
        width: 516px;
        padding: 0;
    }

    .img-article-3pelinie16pe9 {
        height: 290px;
        width: 516px;
        padding: 0;
    }

    .img-article-3pelinie9pe16 {
        height: 916.75px;
        width: 516px;
        padding: 0;
    }

    .img-article-2pelinie4pe5 {
        height: 369px;
        width: 246px;
        padding: 0;
    }

    .img-article-2pelinie9pe16 {
        height: 437.5px;
        width: 246px;
        padding: 0;
    }

    .img-article-3pelinie1pe1 {
        height: 516px;
        width: 516px;
        padding: 0;
    }

    .img-article-3pelinie1pe1cover {
        height: 516px;
        width: 516px;
        padding: 0;
        object-fit: cover;
    }
}

@media (max-width: 576px) { 
    .img-article-43 {
        height: auto;
        max-width: 100%;
        width: auto;
        padding: 0;
    }

    .img-article-169 {
        height: auto;
        max-width: 100%;
        width: auto;
        padding: 0;
    }

    .img-article-5pelinie {
        height: auto;
        max-width: 100%;
        width: auto;
        padding: 0;
    }

    .img-article-3pelinie16pe9 {
        height: auto;
        max-width: 100%;
        width: auto;
        padding: 0;
    }

    .img-article-3pelinie9pe16 {
        height: auto;
        max-width: 100%;
        width: auto;
        padding: 0;
    }

    .img-article-2pelinie4pe5 {
        height: auto;
        max-width: 100%;
        width: auto;
        padding: 0;
    }

    .img-article-2pelinie9pe16 {
        height: auto;
        max-width: 100%;
        width: auto;
        padding: 0;
    }

    .img-article-3pelinie1pe1 {
        height: auto;
        max-width: 100%;
        width: auto;
        padding: 0;
    }

    .img-article-3pelinie1pe1cover {
        height: auto;
        max-width: 100%;
        width: auto;
        padding: 0;
        object-fit: cover;
    }
}

.card-img-top {
    height: 356px;
    width: 356px;
    object-fit: cover
}

@media (max-width: 1200px) { 
    .card-img-top {
        height: 296px;
        width: 296px;
        object-fit: cover
    }
}

@media (max-width: 992px) { 
    .card-img-top {
        height: 336px;
        width: 336px;
        object-fit: cover
    }
}

@media (max-width: 768px) { 
    .card-img-top {
        height: 356px;
        width: 516px;
        object-fit: cover
    }
}

.img-insta-footer:hover {
    opacity: .5;
    transition: 1s
}

.img-insta-footer {
    height: 100%;
    width: 100%;
    object-fit: cover
}

@media (max-width:768px) {
    .card-body {
        padding-bottom: 0
    }
}

.featured-image {
    object-fit: cover;
    width: 736px;
    height: 414px;
}

@media (max-width: 1200px) { 
    .featured-image {
        height: 347px;
        width: 616px;
        object-fit: cover
    }
}

@media (max-width: 992px) { 
    .featured-image {
        height: 392px;
        width: 696px;
        object-fit: cover
    }
}

@media (max-width: 768px) { 
    .featured-image {
        height: 356px;
        width: 516px;
        object-fit: cover
    }
}

.featured-image-second-row {
    height: 307px;
    width: 546px;
    object-fit: cover
}

@media (max-width: 1200px) { 
    .featured-image-second-row {
        height: 356px;
        width: 456px;
        object-fit: cover
    }
}

@media (max-width: 992px) { 
    .featured-image-second-row {
        height: 336px;
        width: 336px;
        object-fit: cover
    }
}

@media (max-width: 768px) { 
    .featured-image-second-row {
        height: 356px;
        width: 516px;
        object-fit: cover
    }
}

@media (min-width:1200px) {
    .post-gallery-image-4-on-row {
        height: 253px;
        object-fit: cover
    }

    .post-gallery-image {
        height: 360px;
        object-fit: cover
    }

    .post-gallery-image-4-5 {
        height: 100%;
        object-fit: cover
    }
}

.text-line-container {
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: .1em;
    margin: 10px 0 20px;
    font-size: 2rem
}

.modal-dialog {
    max-height: 500px
}

.custom-form-control {
    width: 94%;
    padding: .375rem .75rem;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #664d03;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (max-width:960px) {
    .footer-column {
        margin-bottom: 30px
    }
}

.btn-light {
    border-color: #ebdfce
}

@media (min-width: 992px) { 
    .hide-on-collapse {
        display: none;
    }
 }