{% include header.ro.html %}
<div class="row mt-4">
    {% if paginator.next_page == 2 %}
        {% for t in site.tags %}
            {% if t[0] contains 'RO' %}
                    {% for post in t[1] limit:1 %}
                    <div class="col-sm-12 col-md-12 col-lg-8 mb-2 mt-2">
                            <a class="card-text" href="{{ post.url }}"><img src="{{ post.featured-image-primary }}" class="featured-image img-fluid" alt="{{ post.title }}"></a>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                            <a class="card-text" href="{{ post.url }}"><h1>{{ post.front_page_title }}</h1></a>
                            {% if post.description_for_first_page %} {{ post.description_for_first_page }} {% else %} {{ post.description }}{% endif %}
                    </div>
                    {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<div class="row mt-4">
    {% if paginator.next_page == 2 %}
        {% for t in site.tags %}
            {% if t[0] contains 'RO' %}
                    {% for post in t[1] limit:3 %}
                    {% if forloop.index == 1 %}
                            {% continue %}
                    {% endif %}
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                            <div class="card">
                            <a class="card-text" href="{{ post.url }}"><img src="{{ post.featured-image-primary }}" class="img-fluid featured-image-second-row" alt="{{ post.title }}"></a>
                            <div class="card-body">
                                    <div class="card-text-container"><a href="{{ post.url }}" class="card-text"><h2 class="card-text">{{ post.front_page_title }}</h2></a></div>
                                    {% if site.show-posts-date %}<div class="text-center fw-lighter lh-lg text-muted fs-4" style="font-family: 'Italianno', cursive;">{{ post.published }}</div>{% endif %}
                                </div>
                            </div>
                    </div>
                    {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{{ content }}
{% include footer.ro.html %}