{% include header.ro.html %}

<div class="row">
    <div class="col text-center">
        <h1 style="display: none;">{% if page.h1_title %} {{ page.h1_title }} {% else %} {{ page.title }}{% endif %}</h1>
        <p class="post-title pt-4 pb-4">{% if page.article_title %} {{ page.article_title }} {% else %} {{ page.title }}{% endif %}</p>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        {% if page.featured-image-top %}
            {% if page.featured-image-style == "centered" %}
            <a href="{{ page.featured-image }}" data-fslightbox="gallery">
                <picture>
                    <source srcset="{{ page.featured-image-home }}" media="(max-width: 768px)">
                    <img src="{{ page.featured-image-top }}" alt="{{ page.title }}" class="mb-3" style="aspect-ratio: 1/1; max-width: 512px; width: 100%; height: auto;"/>
                </picture>
            </a>
            {% else %}
            <a href="{{ page.featured-image }}" data-fslightbox="gallery">
                <picture>
                    {% if page.featured-image-top-smaller %}
                    <source srcset="{{ page.featured-image-top-smaller }}" media="(max-width: 768px)">
                    {% endif %}
                    <img src="{{ page.featured-image-top }}" alt="{{ page.title }}" class="img-article-169 mb-3"/>
                </picture>
            </a>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ content }}
    </div>
</div>
<div class="row">
    <!-- <div class="col">
        <a onclick="goBack()" style="cursor: pointer; color: #000;" class="text-uppercase fw-normal lh-lg text-decoration-none"><img src = "/assets/images/helper/arrow-left-circle.svg" style="padding-bottom: 3px;" alt="catre pagina anterioara"/> catre pagina anterioara </a>
    </div> -->
    <div class="col" style="text-align: right;">
        <a href="#top"><button style="color: #000000" class="btn btn-outline-light btn-sm  fw-normal lh-lg text-decoration-none text-uppercase"> scroll la inceput <img src = "/assets/images/helper/arrow-up-circle.svg" style="padding-bottom: 3px;" alt="scroll la inceput" width="16px" height="16px" /></button></a>
    </div>
</div>


{% include footer.ro.html %}