{% include header.ro.html %}

<div class="row">
    <div class="col text-center">
        <h1 style="display: none;">{% if page.h1_title %} {{ page.h1_title }} {% else %} {{ page.title }}{% endif %}</h1>
        <p class="post-title text-center pt-4 pb-4">{{ page.title }}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if page.featured-image-top %}
        <a href="{{ page.featured-image }}" data-fslightbox="gallery">
            <picture>
                {% if page.featured-image-top-small %}
                <source srcset="{{ page.featured-image-top-small }}" media="(max-width: 768px)" width="600px" height="100%">
                {% else %}
                <source srcset="{{ page.featured-image-home }}" media="(max-width: 768px)" width="600px" height="100%">
                {% endif %}
                <img src="{{ page.featured-image-top }}" alt="{{ page.title }}" 
                    {% if page.featured-image-style == "full-width" %}
                    class="img-fluid img-thumbnail mx-auto d-block mb-3" width="1116px" height="100%"
                    {% endif %}
                    {% if page.featured-image-style == "centered" %}
                    class="img-fluid img-thumbnail rounded mx-auto d-block pb-3"
                    {% endif %}
                    {% if page.featured-image-style == "left" %}
                    class="img-fluid img-thumbnail rounded float-start pb-3 pe-3"
                    {% endif %}
                />
            </picture>
        </a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ content }}
    </div>
</div>
<div class="row">
    <div class="col">
        <a onclick="goBack()" style="cursor: pointer;" class="text-uppercase fw-normal lh-lg text-muted text-decoration-none"><i class="bi bi-arrow-left-circle"></i> catre pagina anterioara </a>

    </div>
    <div class="col" style="text-align: right;">
        <a href="#top" class="fw-normal lh-lg text-muted text-decoration-none text-uppercase">scroll la inceput <i class="bi bi-arrow-up-circle"></i></a>
    </div>
</div>


{% include footer.ro.html %}